<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" defaultPath="/custom-errors/500.asp" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/custom-errors/404.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>